<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav">
    <mat-label class="label">Westminster Rental</mat-label>
    <button color="primary" mat-button routerLink="/schedule">Schedule Vehicle</button>
    <button color="primary" mat-button routerLink="/view">View List of Vehicles</button>

  </mat-drawer>
  <div class="sidenav-content">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>

    </button>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
